*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	touch-action: manipulation;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

#nprogress {
	pointer-events: none;
}
